## 1.试试通用文档的世界地图

In [32]:
from pyecharts.charts import Geo

In [33]:
from pyecharts.faker import Faker

from pyecharts import options as opts
from pyecharts.charts import Map
from pyecharts.globals import ChartType, SymbolType

def map_world() -> Map:
    c = (
        Map()
        .add("商家A", [list(z) for z in zip(Faker.country, Faker.values())], "world")
        .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
        .set_global_opts(
            title_opts=opts.TitleOpts(title="Map-世界地图"),
            visualmap_opts=opts.VisualMapOpts(max_=200),
        )
    )
    return c

In [53]:
世界地图 = map_world()
世界地图.render()

'C:\\Users\\LIN\\1sophia_try\\render.html'

## 2.实例化

In [22]:
import pandas as pd
df = pd.read_csv("高收入国家25之30女性年龄人数.csv",encoding='gbk')   #注意编码

In [23]:
df

,Index,Variant,country,Notes,Country code,Type,Parent code,Reference date (as of 1 July),number
0,141,Estimates and Medium variant,Antigua and Barbuda,NaN,28,Country/Area,1503,1950,2
1,142,Estimates and Medium variant,Argentina,NaN,32,Country/Area,1503,1950,720
2,143,Estimates and Medium variant,Aruba,14.0,533,Country/Area,1503,1950,1
3,144,Estimates and Medium variant,Australia,15.0,36,Country/Area,1503,1950,329
4,145,Estimates and Medium variant,Austria,NaN,40,Country/Area,1503,1950,296
5,146,Estimates and Medium variant,Bahamas,NaN,44,Country/Area,1503,1950,3
6,147,Estimates and Medium variant,Bahrain,NaN,48,Country/Area,1503,1950,4
7,148,Estimates and Medium variant,Barbados,NaN,52,Country/Area,1503,1950,8
8,149,Estimates and Medium variant,Belgium,NaN,56,Country/Area,1503,1950,339
9,150,Estimates and Medium variant,Brunei Darussalam,NaN,96,Country/Area,1503,1950,2
10,151,Estimates and Medium variant,Canada,NaN,124,Country/Area,1503,1950,564
11,152,Estimates and Medium variant,Channel Islands,16.0,830,Country/Area,1503,1950,4
12,153,Estimates and Medium variant,Chile,NaN,152,Country/Area,1503,1950,265
13,154,Estimates and Medium variant,"China, Hong Kong SAR",17.0,344,Country/Area,1503,1950,99
14,155,Estimates and Medium variant,"China, Macao SAR",18.0,446,Country/Area,1503,1950,9
15,156,Estimates and Medium variant,"China, Taiwan Province of China",19.0,158,Country/Area,1503,1950,282
16,157,Estimates and Medium variant,Croatia,NaN,191,Country/Area,1503,1950,170
17,158,Estimates and Medium variant,Cura?ao,14.0,531,Country/Area,1503,1950,4
18,159,Estimates and Medium variant,Cyprus,20.0,196,Country/Area,1503,1950,19
19,160,Estimates and Medium variant,Czechia,NaN,203,Country/Area,1503,1950,395
20,161,Estimates and Medium variant,Denmark,21.0,208,Country/Area,1503,1950,162
21,162,Estimates and Medium variant,Estonia,NaN,233,Country/Area,1503,1950,45
22,163,Estimates and Medium variant,Finland,22.0,246,Country/Area,1503,1950,162
23,164,Estimates and Medium variant,France,23.0,250,Country/Area,1503,1950,1 633
24,165,Estimates and Medium variant,French Polynesia,24.0,258,Country/Area,1503,1950,2
25,166,Estimates and Medium variant,Germany,NaN,276,Country/Area,1503,1950,2 833
26,167,Estimates and Medium variant,Greece,NaN,300,Country/Area,1503,1950,305
27,168,Estimates and Medium variant,Guam,25.0,316,Country/Area,1503,1950,2
28,169,Estimates and Medium variant,Hungary,NaN,348,Country/Area,1503,1950,411
29,170,Estimates and Medium variant,Iceland,NaN,352,Country/Area,1503,1950,6
...,...,...,...,...,...,...,...,...,...
176,317,Estimates and Medium variant,Gambia,NaN,270,Country/Area,1500,1950,12
177,318,Estimates and Medium variant,Guinea,NaN,324,Country/Area,1500,1950,119
178,319,Estimates and Medium variant,Guinea-Bissau,NaN,624,Country/Area,1500,1950,23
179,320,Estimates and Medium variant,Haiti,NaN,332,Country/Area,1500,1950,128
180,321,Estimates and Medium variant,Liberia,NaN,430,Country/Area,1500,1950,35
181,322,Estimates and Medium variant,Madagascar,NaN,450,Country/Area,1500,1950,137
182,323,Estimates and Medium variant,Malawi,NaN,454,Country/Area,1500,1950,111
183,324,Estimates and Medium variant,Mali,NaN,466,Country/Area,1500,1950,182
184,325,Estimates and Medium variant,Mozambique,NaN,508,Country/Area,1500,1950,233
185,326,Estimates and Medium variant,Nepal,NaN,524,Country/Area,1500,1950,371
186,327,Estimates and Medium variant,Niger,NaN,562,Country/Area,1500,1950,102
187,328,Estimates and Medium variant,Rwanda,NaN,646,Country/Area,1500,1950,82
188,329,Estimates and Medium variant,Senegal,NaN,686,Country/Area,1500,1950,95
189,330,Estimates and Medium variant,Sierra Leone,NaN,694,Country/Area,1500,1950,81
190,331,Estimates and Medium variant,Somalia,NaN,706,Country/Area,1500,1950,86
191,332,Estimates and Medium variant,South Sudan,NaN,728,Country/Area,1500,1950,90
192,333,Estimates and Medium variant,Syrian Arab Republic,NaN,760,Country/Area,1500,1950,126
193,334,Estimates and Medium variant,Tajikistan,NaN,762,Country/Area,1500,1950,58
194,335,Estimates and Medium variant,Togo,NaN,768,Country/Area,1500,1950,52
195,336,Estimates and Medium variant,Uganda,NaN,800,Country/Area,1500,1950,203
196,337,Estimates and Medium variant,United Republic of Tanzania,11.0,834,Country/Area,1500,1950,289
197,338,Estimates and Medium variant,Yemen,NaN,887,Country/Area,1500,1950,167
198,339,Estimates and Medium variant,Zimbabwe,NaN,716,Country/Area,1500,1950,100
199,340,Estimates and Medium variant,No income group available,NaN,1518,Income Group,1517,1950,32
200,341,Estimates and Medium variant,French Guiana,24.0,254,Country/Area,1518,1950,1
201,342,Estimates and Medium variant,Guadeloupe,24.0,312,Country/Area,1518,1950,8
202,343,Estimates and Medium variant,Martinique,24.0,474,Country/Area,1518,1950,9
203,344,Estimates and Medium variant,Mayotte,24.0,175,Country/Area,1518,1950,0
204,345,Estimates and Medium variant,Réunion,24.0,638,Country/Area,1518,1950,10
205,346,Estimates and Medium variant,Western Sahara,NaN,732,Country/Area,1518,1950,1

In [24]:
print(list(df.country))

['Antigua and Barbuda', 'Argentina', 'Aruba', 'Australia', 'Austria', 'Bahamas', 'Bahrain', 'Barbados', 'Belgium', 'Brunei Darussalam', 'Canada', 'Channel Islands', 'Chile', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of China', 'Croatia', 'Cura?ao', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'French Polynesia', 'Germany', 'Greece', 'Guam', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'New Caledonia', 'New Zealand', 'Norway', 'Oman', 'Panama', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea', 'Saudi Arabia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Trinidad and Tobago', 'United Arab Emirates', 'United Kingdom', 'United States of America', 'United States Virgin Islands', 'Uruguay', 'Middle-income countries', 'Upper-middle-income countries', 'Albania', 'Algeria', 'Armenia', 'Azerbaijan', 'Belarus', 'Belize', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'China', 'Colombia', 'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador', 'Equatorial Guinea', 'Fiji', 'Gabon', 'Grenada', 'Guatemala', 'Guyana', 'Iran (Islamic Republic of)', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan', 'Lebanon', 'Libya', 'Malaysia', 'Maldives', 'Mauritius', 'Mexico', 'Montenegro', 'Namibia', 'North Macedonia', 'Paraguay', 'Peru', 'Romania', 'Russian Federation', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Serbia', 'South Africa', 'Suriname', 'Thailand', 'Tonga', 'Turkey', 'Turkmenistan', 'Venezuela (Bolivarian Republic of)', 'Lower-middle-income countries', 'Angola', 'Bangladesh', 'Bhutan', 'Bolivia (Plurinational State of)', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Congo', "C?te d'Ivoire", 'Djibouti', 'Egypt', 'El Salvador', 'Eswatini', 'Georgia', 'Ghana', 'Honduras', 'India', 'Indonesia', 'Kenya', 'Kiribati', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Lesotho', 'Mauritania', 'Micronesia (Fed. States of)', 'Mongolia', 'Morocco', 'Myanmar', 'Nicaragua', 'Nigeria', 'Pakistan', 'Papua New Guinea', 'Philippines', 'Republic of Moldova', 'Sao Tome and Principe', 'Solomon Islands', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Timor-Leste', 'Tunisia', 'Ukraine', 'Uzbekistan', 'Vanuatu', 'Viet Nam', 'Zambia', 'Low-income countries', 'Afghanistan', 'Benin', 'Burkina Faso', 'Burundi', 'Central African Republic', 'Chad', 'Comoros', "Dem. People's Republic of Korea", 'Democratic Republic of the Congo', 'Eritrea', 'Ethiopia', 'Gambia', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mozambique', 'Nepal', 'Niger', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somalia', 'South Sudan', 'Syrian Arab Republic', 'Tajikistan', 'Togo', 'Uganda', 'United Republic of Tanzania', 'Yemen', 'Zimbabwe', 'No income group available', 'French Guiana', 'Guadeloupe', 'Martinique', 'Mayotte', 'Réunion', 'Western Sahara']

In [26]:
print(list(df.number))

['2', '720', '1', '329', '296', '3', '4', '8', '339', '2', '564', '4', '265', '99', '9', '282', '170', '4', '19', '395', '162', '45', '162', '  1 633', '2', '  2 833', '305', '2', '411', '6', '99', '54', '  2 010', '  3 363', '5', '84', '106', '11', '12', '403', '2', '72', '132', '17', '31', '  1 108', '346', '82', '1', '732', '111', '2', '37', '156', '65', '  1 227', '269', '184', '25', '2', '  1 963', '  6 465', '1', '87', '  64 896', '  35 559', '43', '303', '44', '105', '338', '3', '107', '17', '  2 059', '337', '  19 977', '447', '34', '225', '87', '120', '9', '10', '18', '3', '122', '15', '713', '213', '58', '16', '237', '48', '43', '219', '2', '18', '  1 046', '14', '20', '50', '55', '279', '715', '  4 814', '3', '2', '3', '297', '510', '8', '749', '2', '759', '45', '197', '  29 337', '192', '  1 377', '6', '109', '6', '169', '169', '32', '99', '2', '813', '85', '11', '129', '183', '58', '  14 497', '  2 523', '208', '2', '65', '69', '28', '26', '1', '29', '376', '729', '54', '  1 429', '  1 245', '74', '687', '109', '3', '3', '268', '31', '210', '15', '133', '  1 716', '246', '2', '  1 030', '89', '  5 258', '272', '81', '166', '94', '51', '98', '6', '427', '478', '30', '671', '12', '119', '23', '128', '35', '137', '111', '182', '233', '371', '102', '82', '95', '81', '86', '90', '126', '58', '52', '203', '289', '167', '100', '32', '1', '8', '9', '0', '10', '1']

In [29]:
# 迭代
高收入国家25至30女性人数 = zip(list(df.country),list(df.number))
print(高收入国家25至30女性人数)

<zip object at 0x000001EDE770E848>

In [30]:
# 元组的列表,一对一
高收入国家25至30女性人数 =list(zip(list(df.country),list(df.number)))
print(高收入国家25至30女性人数)

[('Antigua and Barbuda', '2'), ('Argentina', '720'), ('Aruba', '1'), ('Australia', '329'), ('Austria', '296'), ('Bahamas', '3'), ('Bahrain', '4'), ('Barbados', '8'), ('Belgium', '339'), ('Brunei Darussalam', '2'), ('Canada', '564'), ('Channel Islands', '4'), ('Chile', '265'), ('China, Hong Kong SAR', '99'), ('China, Macao SAR', '9'), ('China, Taiwan Province of China', '282'), ('Croatia', '170'), ('Cura?ao', '4'), ('Cyprus', '19'), ('Czechia', '395'), ('Denmark', '162'), ('Estonia', '45'), ('Finland', '162'), ('France', '  1 633'), ('French Polynesia', '2'), ('Germany', '  2 833'), ('Greece', '305'), ('Guam', '2'), ('Hungary', '411'), ('Iceland', '6'), ('Ireland', '99'), ('Israel', '54'), ('Italy', '  2 010'), ('Japan', '  3 363'), ('Kuwait', '5'), ('Latvia', '84'), ('Lithuania', '106'), ('Luxembourg', '11'), ('Malta', '12'), ('Netherlands', '403'), ('New Caledonia', '2'), ('New Zealand', '72'), ('Norway', '132'), ('Oman', '17'), ('Panama', '31'), ('Poland', '  1 108'), ('Portugal', '346'), ('Puerto Rico', '82'), ('Qatar', '1'), ('Republic of Korea', '732'), ('Saudi Arabia', '111'), ('Seychelles', '2'), ('Singapore', '37'), ('Slovakia', '156'), ('Slovenia', '65'), ('Spain', '  1 227'), ('Sweden', '269'), ('Switzerland', '184'), ('Trinidad and Tobago', '25'), ('United Arab Emirates', '2'), ('United Kingdom', '  1 963'), ('United States of America', '  6 465'), ('United States Virgin Islands', '1'), ('Uruguay', '87'), ('Middle-income countries', '  64 896'), ('Upper-middle-income countries', '  35 559'), ('Albania', '43'), ('Algeria', '303'), ('Armenia', '44'), ('Azerbaijan', '105'), ('Belarus', '338'), ('Belize', '3'), ('Bosnia and Herzegovina', '107'), ('Botswana', '17'), ('Brazil', '  2 059'), ('Bulgaria', '337'), ('China', '  19 977'), ('Colombia', '447'), ('Costa Rica', '34'), ('Cuba', '225'), ('Dominican Republic', '87'), ('Ecuador', '120'), ('Equatorial Guinea', '9'), ('Fiji', '10'), ('Gabon', '18'), ('Grenada', '3'), ('Guatemala', '122'), ('Guyana', '15'), ('Iran (Islamic Republic of)', '713'), ('Iraq', '213'), ('Jamaica', '58'), ('Jordan', '16'), ('Kazakhstan', '237'), ('Lebanon', '48'), ('Libya', '43'), ('Malaysia', '219'), ('Maldives', '2'), ('Mauritius', '18'), ('Mexico', '  1 046'), ('Montenegro', '14'), ('Namibia', '20'), ('North Macedonia', '50'), ('Paraguay', '55'), ('Peru', '279'), ('Romania', '715'), ('Russian Federation', '  4 814'), ('Saint Lucia', '3'), ('Saint Vincent and the Grenadines', '2'), ('Samoa', '3'), ('Serbia', '297'), ('South Africa', '510'), ('Suriname', '8'), ('Thailand', '749'), ('Tonga', '2'), ('Turkey', '759'), ('Turkmenistan', '45'), ('Venezuela (Bolivarian Republic of)', '197'), ('Lower-middle-income countries', '  29 337'), ('Angola', '192'), ('Bangladesh', '  1 377'), ('Bhutan', '6'), ('Bolivia (Plurinational State of)', '109'), ('Cabo Verde', '6'), ('Cambodia', '169'), ('Cameroon', '169'), ('Congo', '32'), ("C?te d'Ivoire", '99'), ('Djibouti', '2'), ('Egypt', '813'), ('El Salvador', '85'), ('Eswatini', '11'), ('Georgia', '129'), ('Ghana', '183'), ('Honduras', '58'), ('India', '  14 497'), ('Indonesia', '  2 523'), ('Kenya', '208'), ('Kiribati', '2'), ('Kyrgyzstan', '65'), ("Lao People's Democratic Republic", '69'), ('Lesotho', '28'), ('Mauritania', '26'), ('Micronesia (Fed. States of)', '1'), ('Mongolia', '29'), ('Morocco', '376'), ('Myanmar', '729'), ('Nicaragua', '54'), ('Nigeria', '  1 429'), ('Pakistan', '  1 245'), ('Papua New Guinea', '74'), ('Philippines', '687'), ('Republic of Moldova', '109'), ('Sao Tome and Principe', '3'), ('Solomon Islands', '3'), ('Sri Lanka', '268'), ('State of Palestine', '31'), ('Sudan', '210'), ('Timor-Leste', '15'), ('Tunisia', '133'), ('Ukraine', '  1 716'), ('Uzbekistan', '246'), ('Vanuatu', '2'), ('Viet Nam', '  1 030'), ('Zambia', '89'), ('Low-income countries', '  5 258'), ('Afghanistan', '272'), ('Benin', '81'), ('Burkina Faso', '166'), ('Burundi', '94'), ('Central African Republic', '51'), ('Chad', '98'), ('Comoros', '6'), ("Dem. People's Republic of Korea", '427'), ('Democratic Republic of the Congo', '478'), ('Eritrea', '30'), ('Ethiopia', '671'), ('Gambia', '12'), ('Guinea', '119'), ('Guinea-Bissau', '23'), ('Haiti', '128'), ('Liberia', '35'), ('Madagascar', '137'), ('Malawi', '111'), ('Mali', '182'), ('Mozambique', '233'), ('Nepal', '371'), ('Niger', '102'), ('Rwanda', '82'), ('Senegal', '95'), ('Sierra Leone', '81'), ('Somalia', '86'), ('South Sudan', '90'), ('Syrian Arab Republic', '126'), ('Tajikistan', '58'), ('Togo', '52'), ('Uganda', '203'), ('United Republic of Tanzania', '289'), ('Yemen', '167'), ('Zimbabwe', '100'), ('No income group available', '32'), ('French Guiana', '1'), ('Guadeloupe', '8'), ('Martinique', '9'), ('Mayotte', '0'), ('Réunion', '10'), ('Western Sahara', '1')]

In [44]:
from pyecharts.faker import Faker

from pyecharts import options as opts
from pyecharts.charts import Map
from pyecharts.globals import ChartType, SymbolType

def map_world() -> Map:
    c = (
        Map()
        .add("高收入国家25至30女性人数", [list(z) for z in zip(Faker.country, Faker.values())], "world")
        .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
        .set_global_opts(
            title_opts=opts.TitleOpts(title="Map-世界地图"),
            visualmap_opts=opts.VisualMapOpts(max_=200),
        )
    )
    return c

In [54]:
世界地图1 = map_world()
世界地图1.render()

'C:\\Users\\LIN\\1sophia_try\\render.html'

In [46]:
import pandas as pd
df = pd.read_csv("高收入国家男性.csv",encoding='gbk')
df

,Index,Variant,countries,Notes,Country code,Type,Parent code,Reference date (as of 1 July),number
0,141,Estimates and Medium variant,Antigua and Barbuda,NaN,28,Country/Area,1503,1950,1
1,142,Estimates and Medium variant,Argentina,NaN,32,Country/Area,1503,1950,726
2,143,Estimates and Medium variant,Aruba,14.0,533,Country/Area,1503,1950,1
3,144,Estimates and Medium variant,Australia,15.0,36,Country/Area,1503,1950,344
4,145,Estimates and Medium variant,Austria,NaN,40,Country/Area,1503,1950,223
5,146,Estimates and Medium variant,Bahamas,NaN,44,Country/Area,1503,1950,3
6,147,Estimates and Medium variant,Bahrain,NaN,48,Country/Area,1503,1950,6
7,148,Estimates and Medium variant,Barbados,NaN,52,Country/Area,1503,1950,7
8,149,Estimates and Medium variant,Belgium,NaN,56,Country/Area,1503,1950,355
9,150,Estimates and Medium variant,Brunei Darussalam,NaN,96,Country/Area,1503,1950,2
10,151,Estimates and Medium variant,Canada,NaN,124,Country/Area,1503,1950,550
11,152,Estimates and Medium variant,Channel Islands,16.0,830,Country/Area,1503,1950,4
12,153,Estimates and Medium variant,Chile,NaN,152,Country/Area,1503,1950,272
13,154,Estimates and Medium variant,"China, Hong Kong SAR",17.0,344,Country/Area,1503,1950,113
14,155,Estimates and Medium variant,"China, Macao SAR",18.0,446,Country/Area,1503,1950,10
15,156,Estimates and Medium variant,"China, Taiwan Province of China",19.0,158,Country/Area,1503,1950,338
16,157,Estimates and Medium variant,Croatia,NaN,191,Country/Area,1503,1950,133
17,158,Estimates and Medium variant,Cura?ao,14.0,531,Country/Area,1503,1950,4
18,159,Estimates and Medium variant,Cyprus,20.0,196,Country/Area,1503,1950,17
19,160,Estimates and Medium variant,Czechia,NaN,203,Country/Area,1503,1950,381
20,161,Estimates and Medium variant,Denmark,21.0,208,Country/Area,1503,1950,158
21,162,Estimates and Medium variant,Estonia,NaN,233,Country/Area,1503,1950,31
22,163,Estimates and Medium variant,Finland,22.0,246,Country/Area,1503,1950,147
23,164,Estimates and Medium variant,France,23.0,250,Country/Area,1503,1950,1 649
24,165,Estimates and Medium variant,French Polynesia,24.0,258,Country/Area,1503,1950,2
25,166,Estimates and Medium variant,Germany,NaN,276,Country/Area,1503,1950,2 019
26,167,Estimates and Medium variant,Greece,NaN,300,Country/Area,1503,1950,281
27,168,Estimates and Medium variant,Guam,25.0,316,Country/Area,1503,1950,5
28,169,Estimates and Medium variant,Hungary,NaN,348,Country/Area,1503,1950,377
29,170,Estimates and Medium variant,Iceland,NaN,352,Country/Area,1503,1950,6
...,...,...,...,...,...,...,...,...,...
34,175,Estimates and Medium variant,Kuwait,NaN,414,Country/Area,1503,1950,11
35,176,Estimates and Medium variant,Latvia,NaN,428,Country/Area,1503,1950,53
36,177,Estimates and Medium variant,Lithuania,NaN,440,Country/Area,1503,1950,80
37,178,Estimates and Medium variant,Luxembourg,NaN,442,Country/Area,1503,1950,10
38,179,Estimates and Medium variant,Malta,NaN,470,Country/Area,1503,1950,11
39,180,Estimates and Medium variant,Netherlands,26.0,528,Country/Area,1503,1950,396
40,181,Estimates and Medium variant,New Caledonia,24.0,540,Country/Area,1503,1950,3
41,182,Estimates and Medium variant,New Zealand,27.0,554,Country/Area,1503,1950,71
42,183,Estimates and Medium variant,Norway,28.0,578,Country/Area,1503,1950,135
43,184,Estimates and Medium variant,Oman,NaN,512,Country/Area,1503,1950,17
44,185,Estimates and Medium variant,Panama,NaN,591,Country/Area,1503,1950,33
45,186,Estimates and Medium variant,Poland,NaN,616,Country/Area,1503,1950,1 000
46,187,Estimates and Medium variant,Portugal,NaN,620,Country/Area,1503,1950,334
47,188,Estimates and Medium variant,Puerto Rico,25.0,630,Country/Area,1503,1950,76
48,189,Estimates and Medium variant,Qatar,NaN,634,Country/Area,1503,1950,1
49,190,Estimates and Medium variant,Republic of Korea,NaN,410,Country/Area,1503,1950,704
50,191,Estimates and Medium variant,Saudi Arabia,NaN,682,Country/Area,1503,1950,115
51,192,Estimates and Medium variant,Seychelles,NaN,690,Country/Area,1503,1950,1
52,193,Estimates and Medium variant,Singapore,NaN,702,Country/Area,1503,1950,44
53,194,Estimates and Medium variant,Slovakia,NaN,703,Country/Area,1503,1950,151
54,195,Estimates and Medium variant,Slovenia,NaN,705,Country/Area,1503,1950,49
55,196,Estimates and Medium variant,Spain,29.0,724,Country/Area,1503,1950,1 160
56,197,Estimates and Medium variant,Sweden,NaN,752,Country/Area,1503,1950,275
57,198,Estimates and Medium variant,Switzerland,NaN,756,Country/Area,1503,1950,175
58,199,Estimates and Medium variant,Trinidad and Tobago,NaN,780,Country/Area,1503,1950,25
59,200,Estimates and Medium variant,United Arab Emirates,NaN,784,Country/Area,1503,1950,3
60,201,Estimates and Medium variant,United Kingdom,30.0,826,Country/Area,1503,1950,1 925
61,202,Estimates and Medium variant,United States of America,31.0,840,Country/Area,1503,1950,6 407
62,203,Estimates and Medium variant,United States Virgin Islands,25.0,850,Country/Area,1503,1950,1
63,204,Estimates and Medium variant,Uruguay,NaN,858,Country/Area,1503,1950,90

In [47]:
高收入国家25至30男性人数 =list(zip(list(df.countries),list(df.number)))
print(高收入国家25至30男性人数)

[('Antigua and Barbuda', '   1'), ('Argentina', '   726'), ('Aruba', '   1'), ('Australia', '   344'), ('Austria', '   223'), ('Bahamas', '   3'), ('Bahrain', '   6'), ('Barbados', '   7'), ('Belgium', '   355'), ('Brunei Darussalam', '   2'), ('Canada', '   550'), ('Channel Islands', '   4'), ('Chile', '   272'), ('China, Hong Kong SAR', '   113'), ('China, Macao SAR', '   10'), ('China, Taiwan Province of China', '   338'), ('Croatia', '   133'), ('Cura?ao', '   4'), ('Cyprus', '   17'), ('Czechia', '   381'), ('Denmark', '   158'), ('Estonia', '   31'), ('Finland', '   147'), ('France', '  1 649'), ('French Polynesia', '   2'), ('Germany', '  2 019'), ('Greece', '   281'), ('Guam', '   5'), ('Hungary', '   377'), ('Iceland', '   6'), ('Ireland', '   99'), ('Israel', '   59'), ('Italy', '  1 874'), ('Japan', '  2 822'), ('Kuwait', '   11'), ('Latvia', '   53'), ('Lithuania', '   80'), ('Luxembourg', '   10'), ('Malta', '   11'), ('Netherlands', '   396'), ('New Caledonia', '   3'), ('New Zealand', '   71'), ('Norway', '   135'), ('Oman', '   17'), ('Panama', '   33'), ('Poland', '  1 000'), ('Portugal', '   334'), ('Puerto Rico', '   76'), ('Qatar', '   1'), ('Republic of Korea', '   704'), ('Saudi Arabia', '   115'), ('Seychelles', '   1'), ('Singapore', '   44'), ('Slovakia', '   151'), ('Slovenia', '   49'), ('Spain', '  1 160'), ('Sweden', '   275'), ('Switzerland', '   175'), ('Trinidad and Tobago', '   25'), ('United Arab Emirates', '   3'), ('United Kingdom', '  1 925'), ('United States of America', '  6 407'), ('United States Virgin Islands', '   1'), ('Uruguay', '   90')]

In [48]:
from pyecharts.faker import Faker

from pyecharts import options as opts
from pyecharts.charts import Map
from pyecharts.globals import ChartType, SymbolType

def map_world() -> Map:
    c = (
        Map()
        .add("高收入国家25至30男性人数", [list(z) for z in zip(Faker.country, Faker.values())], "world")
        .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
        .set_global_opts(
            title_opts=opts.TitleOpts(title="Map-世界地图"),
            visualmap_opts=opts.VisualMapOpts(max_=200),
        )
    )
    return c

In [55]:
世界地图2 = map_world()
世界地图2.render()

'C:\\Users\\LIN\\1sophia_try\\render.html'

通过对比地图1，2可以看出，中国和巴西在全球高收入国家25-30岁男女比例差异最大。中国25-30岁（男性111000，女性71000）和非洲巴西20-30岁（男性61000，女性100000)，在25-30的年龄段里，中国男性比较多，巴西女性较多。具体原因有待根据国家历史，经济、教育等深入探讨...

更多资料的可视化要先学好数据的清洗，为了做出可视化，手动对数据表格进行操作，研究主题有些局限，有待改进..