## 示范1：输出折线图并加入标题和图例

In [4]:
import pandas as pd
df=pd.read_csv("oecd_carbon_emissions_data.csv")
df

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,6371000.54,6315615.19,6424934.36,6532069.60,6624835.79,6710067.3,6907699.05,6968461.97,7032526.01,...,7160600.81,6709369.15,6938591.68,6787419.03,6545969.33,6710218.18,6759995.63,6623775.48,6492267.43,6456718.19
1,European Union (28 countries),5649529.34,5555045.95,5379830.54,5281540.39,5255297.27,5308544.0,5418671.89,5326316.82,5281519.48,...,5046999.43,4681900.46,4783627.79,4626382.21,4563064.71,4468920.46,4297635.77,4327313.20,4303391.87,4323163.15

In [5]:
df.index #前面的序列没啥意义

RangeIndex(start=0, stop=2, step=1)

In [6]:
df.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [7]:
dfb=df.set_index("Country") #提取想要的列
dfb.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country,,,,,,,,,,,,,,,,,,,,,
United States,6371000.54,6315615.19,6424934.36,6532069.60,6624835.79,6710067.3,6907699.05,6968461.97,7032526.01,7071461.46,...,7160600.81,6709369.15,6938591.68,6787419.03,6545969.33,6710218.18,6759995.63,6623775.48,6492267.43,6456718.19
European Union (28 countries),5649529.34,5555045.95,5379830.54,5281540.39,5255297.27,5308544.0,5418671.89,5326316.82,5281519.48,5172643.92,...,5046999.43,4681900.46,4783627.79,4626382.21,4563064.71,4468920.46,4297635.77,4327313.20,4303391.87,4323163.15

In [8]:
dfb.index

Index(['United States', 'European Union (28 countries)'], dtype='object', name='Country')

In [9]:
dfb.columns #这个时候是字符串

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'],
      dtype='object')

In [11]:
[int(x)for x in dfb.columns]  #将x轴的值整数化

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017]

In [12]:
dfb.loc["United States",:]  #loc是标签

1990    6371000.54
1991    6315615.19
1992    6424934.36
1993    6532069.60
1994    6624835.79
1995    6710067.30
1996    6907699.05
1997    6968461.97
1998    7032526.01
1999    7071461.46
2000    7232010.77
2001    7116810.08
2002    7156652.87
2003    7199262.66
2004    7333052.05
2005    7339039.87
2006    7270326.95
2007    7369967.71
2008    7160600.81
2009    6709369.15
2010    6938591.68
2011    6787419.03
2012    6545969.33
2013    6710218.18
2014    6759995.63
2015    6623775.48
2016    6492267.43
2017    6456718.19
Name: United States, dtype: float64

In [22]:
dfb.loc["United States",:].name

'United States'

In [23]:
dfb.loc["United States",:].values

array([6371000.54, 6315615.19, 6424934.36, 6532069.6 , 6624835.79,
       6710067.3 , 6907699.05, 6968461.97, 7032526.01, 7071461.46,
       7232010.77, 7116810.08, 7156652.87, 7199262.66, 7333052.05,
       7339039.87, 7270326.95, 7369967.71, 7160600.81, 6709369.15,
       6938591.68, 6787419.03, 6545969.33, 6710218.18, 6759995.63,
       6623775.48, 6492267.43, 6456718.19])

In [20]:
dfb.loc["United States",:].index

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'],
      dtype='object')

In [31]:
#导入模块，设定x，y轴，并展示出来
import plotly as py
from plotly.graph_objs import Scatter, Layout, Data

美国 = Scatter(
    x=[int(x) for x in dfb.columns], #列表推导将字符串转换成整数
    y=dfb.loc["United States",:].values,
    name = "美国"                    
)

欧盟28国 = Scatter(
    x=[int(x) for x in dfb.columns], #列表推导将字符串转换成整数
    y=dfb.loc["European Union (28 countries)",:].values,
     name = "欧盟28国"
)

layout = dict(title="碳排放量对比", xaxis=dict(title='年份'), yaxis=dict(title='碳排放量') )  #利用Layout做排版，增加标题和轴坐标的说明文字

fig = dict(data=[美国,欧盟28国], layout=layout) 

py.offline.plot(fig, filename = "输出中文.html") #修改图例名字，注意前后一致

'输出中文.html'

成功输出两条trace折线图

## 示范2：实现时间序列的滑块与选择器

## 时间戳处理

In [37]:
dfb.columns  #字符串里面的数值

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'],
      dtype='object')

In [40]:
pd.to_datetime('05/23/2005', format="%m/%d/%Y") #改成月日年的形式，顺序错了不行

Timestamp('2005-05-23 00:00:00')

In [35]:
[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in dfb.columns.values]  #年份做迭代处理

[Timestamp('1990-01-01 00:00:00'),
 Timestamp('1991-01-01 00:00:00'),
 Timestamp('1992-01-01 00:00:00'),
 Timestamp('1993-01-01 00:00:00'),
 Timestamp('1994-01-01 00:00:00'),
 Timestamp('1995-01-01 00:00:00'),
 Timestamp('1996-01-01 00:00:00'),
 Timestamp('1997-01-01 00:00:00'),
 Timestamp('1998-01-01 00:00:00'),
 Timestamp('1999-01-01 00:00:00'),
 Timestamp('2000-01-01 00:00:00'),
 Timestamp('2001-01-01 00:00:00'),
 Timestamp('2002-01-01 00:00:00'),
 Timestamp('2003-01-01 00:00:00'),
 Timestamp('2004-01-01 00:00:00'),
 Timestamp('2005-01-01 00:00:00'),
 Timestamp('2006-01-01 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('2008-01-01 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('2010-01-01 00:00:00'),
 Timestamp('2011-01-01 00:00:00'),
 Timestamp('2012-01-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2016-01-01 00:00:00'),
 Timestamp('2017-01-01 00:00:00')]

In [45]:
# 增加标题title，利用Layout做排版

import plotly as py
import plotly.graph_objs as go

美国 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in dfb.columns.values],
    y=dfb.loc["United States",:].values,  #老师这个位置错了
    name = "美国"
)

欧盟28国 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in dfb.columns.values],
    y=dfb.loc["European Union (28 countries)",:].values,
    name = "欧盟28国"
)

layout = dict(xaxis=dict(rangeselector=dict( buttons=list([
                                                dict(count=3,
                                                     label="3年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=5,
                                                     label="5年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=10,
                                                     label="10年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=20,
                                                     label="20年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(step="all")
                                            ])),
                         rangeslider=dict(bgcolor="#70EC57"),
                         title='年份'
                        ),
              yaxis=dict(title='碳排放量'),
              title="碳排放量对比"               
             )

abc = dict(data=[美国,欧盟28国], layout=layout) 

py.offline.plot(abc, filename = "test.html")
#              ^^^这里可以只放数据data，也可以将数据data和排版layout结合，这是典型的面向对象

'test.html'

1.  xaxis表示对x轴进行定义；rangeselector表示对x轴的选择器进 行定义；buttons表示选择器的按钮，是一个列表形式，每个列表元素都 是一个选择器按钮。 
2. “count=1,step='month'”表示这个选择器覆盖的时间长度是“1 × month”，即一个月。“label='1m'”表示选择器的标签为1m。 
3.  stepmode有以下两种使用方法。 
（1）当stepmode='backward'时，表示从后往前推进count × step时间。 例如，当count=1、step='year'时，表示时间范围将近一年。 
（2）当 stepmode='todate'时，一般只有一种用法，就是计算今年以来 的时间。例如，当 count=1、step='year'时，表示时间范围从最后日期到 最后日期所在的年初，而不是近一年。

# 自己上手实操啦

In [68]:
import pandas as pd
df=pd.read_csv("城市绿植面积2.csv",encoding='gbk')
df.head()

    地区  2012年  2013年  2014年  2015年  2016年  2017年
0   北京   6.55   6.84   6.84   8.13   8.21   8.35
1   天津   2.23   2.32   2.53   2.84   3.34   4.43
2   河北   7.35   7.60   7.94   8.13   8.54   8.83
3   山西   3.57   3.63   4.04   4.20   4.30   6.40
4  内蒙古   4.67   4.93   5.74   6.31   6.56   6.72

In [69]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [70]:
df.columns

Index(['地区', '2012年', '2013年', '2014年', '2015年', '2016年', '2017年'], dtype='object')

In [71]:
dfc=df.set_index("地区")
dfc.head()

     2012年  2013年  2014年  2015年  2016年  2017年
地区
北京    6.55   6.84   6.84   8.13   8.21   8.35
天津    2.23   2.32   2.53   2.84   3.34   4.43
河北    7.35   7.60   7.94   8.13   8.54   8.83
山西    3.57   3.63   4.04   4.20   4.30   6.40
内蒙古   4.67   4.93   5.74   6.31   6.56   6.72

In [72]:
dfc.index

Index(['北京', '天津', '河北', '山西', '内蒙古', '辽宁', '吉林', '黑龙江', '上海', '江苏', '浙江',
       '安徽', '福建', '江西', '山东', '河南', '湖北', '湖南', '广东', '广西', '海南', '重庆', '四川',
       '贵州', '云南', '西藏', '陕西', '甘肃', '青海', '宁夏', '新疆'],
      dtype='object', name='地区')

In [73]:
dfc.columns

Index(['2012年', '2013年', '2014年', '2015年', '2016年', '2017年'], dtype='object')

In [75]:
[int(x) for x in dfc.columns]   #数据太少，至少要10年

ValueError: invalid literal for int() with base 10: '2012年'

In [84]:
import pandas as pd
df=pd.read_csv("水资源总量分省年度数据 .csv",encoding='gbk')
df

,地区,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,北京市,29.8,35.1,26.8,20.30,24.81,39.50,26.81,23.1,21.84,34.2
1,天津市,13.0,18.9,12.8,11.37,14.64,32.94,15.39,9.2,15.24,18.3
2,河北省,138.3,208.3,135.1,106.16,175.86,235.53,157.15,138.9,141.16,161.0
3,山西省,130.2,134.1,94.0,111.01,126.55,106.25,124.34,91.5,85.76,87.4
4,内蒙古自治区,309.9,426.5,537.0,537.79,959.81,510.25,419.00,388.5,378.15,412.1
5,辽宁省,186.3,331.6,179.0,145.93,463.17,547.30,294.79,606.7,170.96,266.0
6,吉林省,394.4,488.8,331.3,306.03,607.40,460.47,315.89,686.7,298.04,332.0
7,黑龙江省,742.5,843.7,814.1,944.34,1419.58,841.41,629.48,853.5,989.61,462.0
8,上海市,34.0,61.0,64.1,47.15,28.03,33.90,20.72,36.8,41.57,37.0
9,江苏省,392.9,741.7,582.1,399.34,283.53,373.33,492.40,383.5,400.31,378.0
10,浙江省,895.3,1323.3,1407.1,1132.15,931.34,1444.79,744.96,1398.6,931.35,855.2
11,安徽省,784.9,1245.2,914.1,778.48,585.59,701.00,602.25,922.8,733.10,699.3
12,福建省,1055.6,2109.0,1325.9,1219.62,1151.90,1511.44,774.85,1652.7,800.81,1036.9
13,江西省,1655.1,2221.1,2001.2,1631.81,1423.99,2174.36,1037.88,2275.5,1166.91,1356.2
14,山东省,225.6,220.3,168.4,148.44,291.70,274.30,347.63,309.1,284.95,328.7
15,河南省,423.1,337.3,287.2,283.36,213.07,265.54,327.97,534.9,328.77,371.3
16,湖北省,1248.8,1498.0,1015.6,914.29,790.15,813.88,757.54,1268.7,825.28,1033.9
17,湖南省,1912.4,2196.6,1919.3,1799.43,1581.97,1988.94,1126.94,1906.6,1400.47,1600.0
18,广东省,1786.6,2458.6,1933.4,1718.45,2263.17,2026.55,1471.26,1998.8,1613.68,2206.8
19,广西壮族自治区,2388.0,2178.6,2433.6,1990.90,2057.33,2087.40,1350.02,1823.6,1484.31,2282.5
20,海南省,383.9,489.9,198.2,383.51,502.11,364.31,484.10,479.8,480.71,419.1
21,重庆市,656.1,604.9,456.2,642.58,474.35,476.89,514.58,464.3,455.92,576.9
22,四川省,2467.1,2340.9,2220.5,2557.66,2470.27,2892.36,2239.49,2575.3,2332.16,2489.9
23,贵州省,1051.5,1066.1,1153.7,1213.12,759.44,974.02,626.02,956.5,910.03,1140.7
24,云南省,2202.6,2088.9,1871.9,1726.63,1706.69,1689.77,1480.20,1941.4,1576.60,2314.5
25,西藏自治区,4749.9,4642.2,3853.0,4416.30,4415.74,4196.35,4402.71,4593.0,4029.16,4560.2
26,陕西省,449.1,271.5,333.4,351.64,353.78,390.49,604.42,507.5,416.49,304.0
27,甘肃省,238.9,168.4,164.8,198.38,268.90,266.95,242.21,215.2,209.02,187.5
28,青海省,785.7,612.7,589.3,793.86,645.61,895.22,733.12,741.1,895.11,658.1
29,宁夏回族自治区,10.8,9.6,9.2,10.07,11.40,10.81,8.76,9.3,8.42,9.2
30,新疆维吾尔自治区,1018.6,1093.4,930.3,726.93,955.99,900.63,885.65,1113.1,754.31,815.6

In [85]:
dfe=df.set_index("地区")
dfe.head()

,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
地区,,,,,,,,,,
北京市,29.8,35.1,26.8,20.30,24.81,39.50,26.81,23.1,21.84,34.2
天津市,13.0,18.9,12.8,11.37,14.64,32.94,15.39,9.2,15.24,18.3
河北省,138.3,208.3,135.1,106.16,175.86,235.53,157.15,138.9,141.16,161.0
山西省,130.2,134.1,94.0,111.01,126.55,106.25,124.34,91.5,85.76,87.4
内蒙古自治区,309.9,426.5,537.0,537.79,959.81,510.25,419.00,388.5,378.15,412.1

In [86]:
dfe.index

Index(['北京市', '天津市', '河北省', '山西省', '内蒙古自治区', '辽宁省', '吉林省', '黑龙江省', '上海市',
       '江苏省', '浙江省', '安徽省', '福建省', '江西省', '山东省', '河南省', '湖北省', '湖南省', '广东省',
       '广西壮族自治区', '海南省', '重庆市', '四川省', '贵州省', '云南省', '西藏自治区', '陕西省', '甘肃省',
       '青海省', '宁夏回族自治区', '新疆维吾尔自治区'],
      dtype='object', name='地区')

In [87]:
dfe.columns

Index(['2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009',
       '2008'],
      dtype='object')

In [88]:
[int(x) for x in dfe.columns]

[2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008]

In [91]:
dfc.loc["北京",:]  #单位亿立方米

2012年    6.55
2013年    6.84
2014年    6.84
2015年    8.13
2016年    8.21
2017年    8.35
Name: 北京, dtype: float64

In [92]:
dfc.loc["北京",:].values

array([6.55, 6.84, 6.84, 8.13, 8.21, 8.35])

In [99]:
#导入模块，设定x，y轴，并展示出来
import plotly as py
from plotly.graph_objs import Scatter, Layout, Data

北京 = Scatter(
    x=[int(x) for x in dfe.columns], #列表推导将字符串转换成整数
    y=dfe.loc["北京市",:].values,
    name = "北京"                    
)

广东 = Scatter(
    x=[int(x) for x in dfe.columns], #列表推导将字符串转换成整数
    y=dfe.loc["广东省",:].values,
     name = "广东"
)

甘肃 = Scatter(
    x=[int(x) for x in dfe.columns], #列表推导将字符串转换成整数
    y=dfe.loc["甘肃省",:].values,
     name = "甘肃"
)
layout = dict(title="水资源总量对比", xaxis=dict(title='年份'), yaxis=dict(title='水资源总量（亿立方米）') )  #利用Layout做排版，增加标题和轴坐标的说明文字

fig = dict(data=[北京,广东,甘肃], layout=layout) 

py.offline.plot(fig, filename = "output_water.html") #修改图例名字，注意前后一致

'output_water.html'

# 实现时间序列的滑块与选择器 P115

In [100]:
[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in dfe.columns.values]  #年份做迭代处理

[Timestamp('2017-01-01 00:00:00'),
 Timestamp('2016-01-01 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2012-01-01 00:00:00'),
 Timestamp('2011-01-01 00:00:00'),
 Timestamp('2010-01-01 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('2008-01-01 00:00:00')]

In [102]:
import plotly as py
from plotly.graph_objs import Scatter, Layout, Data

北京 = Scatter(
    x=[int(x) for x in dfe.columns], #列表推导将字符串转换成整数
    y=dfe.loc["北京市",:].values,
    name = "北京"                    
)

广东 = Scatter(
    x=[int(x) for x in dfe.columns], #列表推导将字符串转换成整数
    y=dfe.loc["广东省",:].values,
     name = "广东"
)

甘肃 = Scatter(
    x=[int(x) for x in dfe.columns], #列表推导将字符串转换成整数
    y=dfe.loc["甘肃省",:].values,
     name = "甘肃"
)

layout = dict(xaxis=dict(rangeselector=dict( buttons=list([
                                                dict(count=3,
                                                     label="3年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=5,
                                                     label="5年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=10,
                                                     label="10年",
                                                     step="year",
                                                     stepmode="backward"),
                                               
                                                dict(step="all")
                                            ])),
                         rangeslider=dict(bgcolor="#70EC57"),
                         title='年份'
                        ),
              yaxis=dict(title='水资源总量（亿立方米）'),
              title="水资源量对比"               
             )

abc = dict(data=[北京,广东,甘肃], layout=layout) 

py.offline.plot(abc, filename = "output_water2.html")
#              ^^^这里可以只放数据data，也可以将数据data和排版layout结合，这是典型的面向对象

'output_water2.html'